<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>392807114093-h9hhd3o3uhns2rge7rc25hqp1esgfor8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.392807114093-h9hhd3o3uhns2rge7rc25hqp1esgfor8</string>
	<key>API_KEY</key>
	<string>AIzaSyDNoT8ah-O4wWWutGSfYjDuw9_DtZZQSj4</string>
	<key>GCM_SENDER_ID</key>
	<string>392807114093</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.full.Moments</string>
	<key>PROJECT_ID</key>
	<string>moments-46143</string>
	<key>STORAGE_BUCKET</key>
	<string>moments-46143.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:392807114093:ios:1f3db3ccb2b151c7</string>
	<key>DATABASE_URL</key>
	<string>https://moments-46143.firebaseio.com</string>
</dict>
</plist>